<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainProgram.Properties.Settings.AddressBookConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=AddressBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>